<h1>New Rare Book</h1>

<%= form_with url: "/libraries/#{@library.id}/rare_books", method: :post, local: :true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %><br>
  <%= form.label :cost %>
  <%= form.text_field :cost %><br>
  <%= form.label :on_display %>
  <%= form.text_field :on_display %><br>
  <%= form.submit "Create Rare Book" %>
<% end %>