<h1>New Library</h1>

<%= form_with url: "/libraries", method: :post, local: :true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.label :study_rooms %>
  <%= form.text_field :study_rooms %><br>
  <%= form.label :free_parking %>
  <%= form.text_field :free_parking %><br>
  <%= form.submit "Create Library" %>
<% end %>