<h1><%= @library.name %></h1>
<p>Total Rare Books: <%= @library.count %></p>
<p><%= link_to "Click here to see the rare books!", "#{@library.id}/rare_books" %></p>
<p>Total Study Rooms: <%= @library.study_rooms %></p>
<p>Is there free parking? <%= @library.free_parking %></p>

<p><%= link_to "Update Library", "/libraries/#{@library.id}/edit" %></p>
