<!DOCTYPE html>
<html>
  <head>
    <title>M2RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <b><%= link_to "All Rare Books", "/rare_books" %> |</b>
    <b><%= link_to "All Libraries", "/libraries" %>  |</b>
    <%= yield %>
  </body>
</html>
